<!DOCTYPE html>
<html>

<head>
  <title>Son Soles</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header>
    <%- include('../partials/nav.ejs') %>
  </header>

  <main>
    <%- include('../partials/filtros.ejs') %>

    <div class="baul">
      <ul class="prendasTodas">
        <% results.forEach(results=> { %>
          <li class="lista_item">
            <a href="<%= results.idPrenda %>" class="prendas">
              <img src="<%= results.imagen %>" alt="" class="imagen">
              <h2 class="precio"> $ <%= results.precio %> </h2>
            </a>
          </li>
        <% }) %>
      </ul>
    </div>

    <%- include('../partials/vidriera.ejs') %>
  </main>

  <section>
    <%- include('../partials/novedades.ejs') %>
  </section>

  <footer>
    <%- include('../partials/footer.ejs') %>
  </footer>

</body>

</html>